<!DOCTYPE html>
<html>

<head>
  <title> Sneaker Portfolio </title>
  <%- include('head') %>
</head>

<body>

  <%- include('navbar')%>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Welcome to the Sneaker Database</h1>
      </div>

      <div class="table-responsive overflow-hidden" style="height:1000">
        <table class="table table-wrapper-scroll-y text-center">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Style ID</th>
              <th scope="col">Retail Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% parseData.forEach(sneaker => { %>
            <tr>
              <td><img src="<%= sneaker.media.thumbUrl %>" width="120" /></td>
              <td class="align-middle">
                <p><%= sneaker.title %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.brand %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.styleId %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.retailPrice %> </p>
              </td>
              <td class="align-middle">

<<<<<<< HEAD
                <button type="button" class="btn btn-success" data-toggle="modal"
                  data-target=<%= `#addModal${sneaker.id}` %>>
                  Add to Inventory
                </button>

                <div class="modal fade" id=<%= `addModal${sneaker.id}` %> tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel">
=======
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                  Add to Inventory
                </button>

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
>>>>>>> f9330cd5b5db8bdb766d65ae4613afe0fe01c5c8
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form action="/addSneaker" method="post">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">
                            Purchase Information
                          </h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">

                            <input class="form-control mr-sm-2" name="id" type="hidden" value=<%- sneaker.id %>>
                            <div class="col-md-3">
                              <p>Quantity:
                                <select class="form-control mr-sm-2" name="quantity">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                </select>
                              </p>
                            </div>
                            <div class="col-md-6">
                              <p>Purchase Price: <input class="form-control mr-sm-2" name="price" type="text"
                                  placeholder="$" />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn btn-primary" type="submit"> Add to Inventory </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>

      </div>
    </div>
  </div>
</body>

</html>