<!DOCTYPE html>
<html>

<head>
  <title> Sneaker Inventory Management </title>
  <%- include('head') %>
</head>

<body>

  <%- include('navbar')%>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Personal Inventory</h1>
      </div>

      <div class="table-responsive overflow-hidden" style="height:1000">
        <table class="table table-wrapper-scroll-y text-center">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Color</th>
              <th scope="col">Style ID</th>
              <th scope="col">Retail Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% parseData.forEach(sneaker => { %>
            <tr>
              <td><img src="<%= sneaker.media.thumbUrl %>" width="120" /></td>
              <td class="align-middle">
                <p><%= sneaker.title %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.brand %> </p>
              </td>

              <td class="align-middle">
                <p><%= sneaker.colorway%> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.styleId %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.retailPrice %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.quantity %> </p>
              </td>
              <td class="align-middle">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saleModal">
                  Sell
                </button>

                <div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form action="/removeSneaker" method="post">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">
                            Sales Information
                          </h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <input class="form-control mr-sm-2" name="id" type="hidden" value=<%- sneaker.id %>>

                            <div class="col-md-3">
                              <p>Quantity:
                                <select class="form-control mr-sm-2" name="quantity">
                                  <% for(i = 0; i< sneaker.quantity; i++) { %>
                                  <option value="<%- i+1 %> "><%= i+1 %> </option>
                                  <% } %>
                                </select>
                              </p>
                            </div>
                            <div class="col-md-6">
                              <p>Price Sold: <input class="form-control mr-sm-2" name="price" type="text"
                                  placeholder="$" />
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn btn-danger" type="submit"> Sold </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>

            </tr>
            <% }) %>
          </tbody>

      </div>
    </div>
  </div>
</body>

</html>