<!DOCTYPE html>
<html>

<head>
  <title> <%= mode === 'Purchase'? 'Purchase' : 'Sales' %> History </title>
  <%- include('head') %>
</head>

<body>

  <%- include('navbar')%>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= mode === 'Purchase'? 'Purchase' : 'Sales' %> History</h1>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive" style="height:1000">
        <table class="table table-wrapper-scroll-y text-center" style="white-space:nowrap">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Style ID</th>
              <th scope="col">Quantity</th>
              <th scope="col">Date <%= mode === 'Purchase'? 'Purchased': 'Sold' %></th>
              <th scope="col">Price <%= mode === 'Purchase'? 'Purchased': 'Sold' %> </th>
            </tr>
          </thead>
          <tbody>
            <% parseData.forEach(sneaker => { %>
            <tr>
              <td><img src="<%= sneaker.imageUrl %>" width="120" /></td>
              <td class="align-middle">
                <p><%= sneaker.title %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.brand %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.styleID %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.quantity %> </p>
              </td>
              <td class="align-middle">
                <p><%= sneaker.date %> </p>
              </td>
              <td class="align-middle">
                <p>$<%= sneaker.price %> </p>
              </td>

            </tr>
            <% }) %>
          </tbody>
      </div>
    </div>

  </div>
</body>

</html>